<!-- 
Nuxt.js
Понадобится Visual studio code и плагин Vetur для проверки.

https://nuxtjs.org

Расширяет возможности vue.js .
Из коробки предоставляет возможности сервер-сайт рендеринга.

https://nuxtjs.org/guide/installation

В visual studio code:

1) Установить create-nuxt-app
npm i -g create-nuxt-app

Перейти в папку с проектами.
/* на сайте рекомендуется:
npm init nuxt-app <project-name>
*/

create-nuxt-app nuxt-theory

Project name, description- просто enter

Use a custom server framework: 
Может использовать разные сервера- например, express.
Если пишем none- nuxt.js   использует собственный сервер.

Choose features to install 
Дополнительные модули. Пока ничего не выбираем. 

Use a custom UI fraimwork -
выбираем bootstrap, vuetify или none. 
Выберем none. 

Тестовый фреймворк: выберем none.
Choose rendering mode
> Universal (выберем)Servise set rendering будет работать
SPA (для обычного динамического сайта)

Author Enter

Packet meneger: npm

Запускаем проект: npm run dev
На localhost:3000 
доступен проект. 

В package.json:

В зависимости- nuxt
Нет vue, vue-router, vuex - они входят в ядро nuxt


dev - для разработки приложения

build- создание итогового production- приложения


  To get started:

        cd nuxt-theory
        npm run dev

  To build & start for production:

        cd nuxt-theory
        npm run build
        npm run start


  start- запускает build-версию, чтобы она работала. 
  
  Для работы ssr (если его выбрали)
  нужно чтобы был запущен и сервер и клиент. 
  build start это и делает. 

  generate- генерирует статические страницы в build если используем spa

  2. Структура приложения. 

  Папки:

  Структура папок важна.
  
  nuxt- служебная информация. 
  
  assets-   sass или js некомпилированные файлы там будут 
  
  components- обычные компоненты на vue.js 

   Layout: 
   компоненты первоочередные.

  nuxt- куда рендерить страницу.
  Похоже на router технологию vue 

  middleware- рассмотрим в отдельном уроке. 

pages:  
Как главная страница
index.vue

Импортируем для неё из components/about.vue 
import Logo '@/components/Logo.vue'
или
import Logo '~/components/Logo.vue'

@ или ~ - импорт из корня папки. 

node_modules - дополнительные модули

plugins - плагины


static- статические файлы типа favicon.ico и т.п
картинки

store- тут будем организовывать хранение данных vuex

nuxt.config.js 

Сначала загружаем файл package.json (require),
 далее экспортируем js-объект, у которого есть набор конфигураций. 

 mode: 'universal' - используем ssr. 
 head: фактически index.html тут

 


<template>
  <div>
    <Nuxt />
  </div>
</template>

Респозиторий:
https://github.com/sasha-is-permi/nuxt-theory


// надо представиться если не представлялись. Один раз после создания проекта
// Информация записывается в .git/config
git init // создает git/config
git config --local user.name "Alexandr"         - имя пользователя для проекта
git config --local user.email sasha-is-permi@mail.ru         - e-mail


// После создания или изменения файлов в проекте
git add -A
git commit -m "first commit"

// Только первый раз при создании.
// Информация записывается в .git/config
git remote add origin https://github.com/sasha-is-permi/nuxt-theory
// Посылаем файлы проекта на github
// В следующий раз можно посылать файлы более простой командой:
// git push
git push -u origin master


loading- отвечает за загрузку страниц (для серверной загрузки)

build - изменяем build-конфигурацию.

Расширяем функционал webpack (клиентская сторона построенна на webpack)

3. Создание разметки приложения. 

Установим bootstrap 

npm install bootstrap 

В nuxt.config.js прописать если нет: 

css: [
 '@/node_modules/bootstrap/dist/css/bootstrap.min.css'
]



pages: index.vue 
Убираем лишнее. 

layout: 
(сначала идет layout, затем страницы)

Тоже очищаем.

 <template>
  <div class="container">
    <Nuxt />
  </div>
</template>

<style>

</style>



Создаем новый компонент navbar.vue. 

После скачивания на другой компьютер 
(git clone:
git init
git name
git email
npm install
npm run dev
)

2.4 Статические роуты.

navbar.vue: 
обеспечивает переход по страничкам

<nav class="navbar navbar-expand-sm bg-light">


  <ul class="navbar-nav">
    <li class="nav-item">
      <nuxt-link class="nav-link" to="/">Home</nuxt-link>
    </li>
    <li class="nav-item">
       <nuxt-link class="nav-link" to="/users">Users</nuxt-link>
    </li>
    <li class="nav-item">
      <nuxt-link class="nav-link" to="/about">About</nuxt-link>
    </li>
  </ul>

</nav>
1)
Роуты создаем по другому чем во vue.
Создаем файлы в определенной структуре. 

Если нет ничего в адресной строке (home page):
nuxt загружает index.vue
Это главная страница. 

В папке pages создаем users.vue. 
Это обычный vue-компонент. 

В этом файле:
<template>
  <section>
     <h1> Users page </h1>
  </section>
</template> 

Этого достаточно чтобы появилась страница
localhost:3000/users

2) Нужно создать страничку About в папке pages. 
Создаем папку About, в ней index.vue

Подключить sass-предпроцессор:
npm install --save-dev sass sass-loader 
(или при установке проекта)

(для vue:
npm i node-sass sass-loader)

Можно использовать:
<style lang="scss" scoped>
h1 {
  text-align:center;
}

</style>

В navbar.vue: 

<nuxt-link> 
по анологии с <vue-link>
- делает так чтобы страничка не перезагружалась при переходе по ссылке. 

Вместо <a href=""> используем <nuxt-link to="">

Теперь переходим в динамическом режиме как в SPA

5. Динамические роуты и валидация. 

Можем использовать 

data () {
return {}
}

Но можем использовать и стрелочную функцию:

  data: () => ({
    users: [
      1, 2, 3, 4, 5
    ]
  })

В users.vue: 

<template>
  <section>
    <h1>Users page</h1>
    <div class="menu">
    <ul>

      Выводим список из элементов массива 
      <li v-for="user of users" :key="user">
        При клике переходим без перезагрузки страницы на другую 
        страничку- с User (goTO(user)- метод, описанный ниже)
        <a href="#" @click.prevent="goTo(user)">User {{user}}</a>
      </li>
    </ul>
    </div>
  </section>
</template>

<script>
export default {
  data: () => ({
    users: [
      1, 2, 3, 4, 5
    ]
  }),
  methods: {
    // Программная (динамическая) навигация.
    // программно определяем что нужно переходить на страничку
    // users/1
    goTo(user) {
      this.$router.push('/users/' + user)
    }
  }
}
</script>

<style lang="scss" scoped>
h1 {
  text-align:center;
}

.menu{
  display:flex;
  justify-content:center;
}

</style>

Чтобы создать еще страничку, на которую переходить-
в папке Users должен быть файл _id.vue :

<template>
  <h1>User with id {{$route.params.id}}</h1>
</template>

<script>
export default {
  validate({params}) {
    return /^\d+$/.test(params.id)
  }
}
</script>


Это будет шаблон странички, 
на которую можно переходить. 

Этот файл является роутом, который откликается на динамический параметр
(user.id)

nuxt будет передавать во vue router параметр id. 

{{$route.params.id}} - это число, приходящее из users.vue, 
массив user, текущий user (пункт меню, соотваетствующий текущему user)

validate- метод, которым nuxt расширяет instanse vue: 
регулярное выражение- должны быть только числа. 
Применяем его (test) к params.id -значение переданной страницы
params- объект типа {id:2}

  validate({params}) {
    return /^\d+$/.test(params.id)
  }

{params} - достаем поле с параметрами из контекста.

Валидируем (проверяем) заход на данную страничку. 


2.6 


Ссылки и обработка ошибок. 
В navbar.vue: 
Тому элементу li, который является активным- передаем class="active"

Nuxt упрощает:
Для nav-link: 
добавляем active-class="active" 

 exact для главной ссылки- home подсвечивается только тогда когда
 активна. 

navbar.vue: 

<template>
  <header>
    <nav class="navbar navbar-expand-lg navbar-light bg-light">
      <a class="navbar-brand" href="#">NuxtJS</a>

      <div class="collapse navbar-collapse" >
        <ul class="navbar-nav mr-auto">
          <li class="nav-item">
            <nuxt-link exact active-class="active" class="nav-link" to="/">Home</nuxt-link>
          </li>
          <li class="nav-item">
            <nuxt-link no-prefetch active-class="active" class="nav-link" to="/users">Users</nuxt-link>
          </li>
          <li class="nav-item">
            <nuxt-link active-class="active" class="nav-link" to="/about">About</nuxt-link>
          </li>
        </ul>
      </div>
    </nav>
  </header>
</template>


no-prefetch- подгружать страницу не сразу
(во vue "ленивая загрузка")

Для обработки ошибок захода на страницу:
в папке layouts создаем файл error.vue (зарезервированное имя). 

<template>
  <section>
    <h1>Error 404</h1>
    <nuxt-link :to="'/'">Home</nuxt-link>
  </section>
</template>

<style scoped>
  h1 {
    color: red;
  }

  section {
    display: flex;
    align-items: center;
    flex-direction: column;
  }
</style>

2.7 Как работают Layouts. 

В каталоге pages/users создаем файл  login.vue: 

<template>
  <form>
    <h1>Login</h1>

    <div class="form-group">
      <input type="text" class="form-control">
    </div>

    <div class="form-group">
      <input type="password" class="form-control">
    </div>

    <p>
      <nuxt-link to="/">Home</nuxt-link>
    </p>

    <button class="btn btn-primary">Login</button>
  </form>
</template>

<script>
export default {
  layout: 'empty'
}
</script>


<style scoped>
  form {
    width: 600px;
  }
</style>


Создается форма, используя bootstrap: 
в файле login.vue. 

Затем в navbar.vue подключаем ссылку на страницу. 

<li class="nav-item">
     <nuxt-link no-prefetch active-class="active" class="nav-link" to="/login">Login</nuxt-link>
</li>

(тоже используем "ленивую загрузку") no-prefetch

Хотим при загрузке страницы логин ее содержимое показывать по-центру, 
другие пункты меню не показывать. 

Создаем в layouts empty.vue с содержимым:

<template>
  <div class="container">
    <nuxt />
  </div>
</template>

<style scoped>
  .container {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 5rem;
  }
</style>


Чтобы создать свой layout 
для страницы login: 

<script>
export default {
  layout: 'empty'
}
</script>


(по умолчанию- default)

Т.е. фактически используем шаблон 
empty.vue для login.vue . 

В login.vue возврат обратно на главную страницу: 

<p>
  <nuxt-link to="/">Home</nuxt-link>
</p>

2.8 Что такое модули. 

Описание модулей nuxt:
https://github.com/nuxt-community/awesome-nuxt

Пример: описание как работать с модулем axios:
https://axios.nuxtjs.org/

Позволяет делать удобные ajax-запросы.

npm install @nuxtjs/axios


Вручную только редактируем
nuxt.config.js 


export default {
  modules: [
    '@nuxtjs/axios',
  ],

  axios: {
    // proxy: true
  }
}

А в package.json и в node_modules axios добавляется автоматически: 

"dependencies": {
    "@nuxtjs/axios": "^5.12.3",
    "bootstrap": "^4.3.1",
    "cross-env": "^5.2.0",
    "nuxt": "^2.4.0"
  }

2.9 Asunc Data. 
Как Nuxt работает с данными. 

Vue
Посылаем запрос на сервер, ждем, получаем данные. 

Nuxt. 
При использовании SSR сначала готовим данные на сервере, 
а только потом возвращаем пользователю. 

asyncData() - вызывается на серверной части 
(до того как страничка отобразится). 

Эмулируем асинхронный запрос через promice:
asyncData должен возвращать promise:

Перенесем массив users из data()
в asyncData. 

А в data() - локальные данные, 
которые будем использовать на frontend.

  asyncData() {
    return new Promise(resolve => {
      setTimeout(() => {
        resolve({
          users: [
            1, 2, 3, 4, 5
          ]
        })
      }, 3000)
    })
  },
  data() {
    return {
      pageTitle: 'Users page'
    }
  }

В результате на клиент приёдет и массив users, 
и pageTitle.

При переходе на страничку users данные получаются 
с задержкой 3 сек. 
(поскольку там есть setTimeout )


В nuxt.config.js: 

делаем индикатор загрузки синий. 
  loading: { color: 'blue' },

Если не обновится- перезапускаем приложение.


В users _id.vue добавляем: 
Можем загрузить какого-то конкретного
пользователя:
<h1>{{user.name}}</h1>
Если заходим пункт меню- выводится номер меню.

asyncData({params, error}) {
    return new Promise((resolve) => {
      setTimeout(() => {
         resolve({
           user: {
             name: `Test user ${params.id}`
           }
         })
      }, 1500)
    })
  }

  Чтобы вызвало ошибку при заходе на страницу: 


    asyncData({params, error}) {
    return new Promise((resolve, reject) => {
      setTimeout(() => {
        reject(error(new Error('User not found')))
        // resolve({
        //   user: {
        //     name: `Test user ${params.id}`
        //   }
        // })
      }, 1500)
    })
  }

 2.10
 Async data на практике. 

 сервис для работы с данными по REST API
 https://jsonplaceholder.typicode.com

 JSON файл получим:
 https://jsonplaceholder.typicode.com/users


 В pages/users/index.vue делаем асинхронный запрос: 
 // делаем get-запрос с того адреса, где json-файл

   asyncData({$axios, error}) {
    return $axios.$get('https://jsonplaceholder.typicode.com/users')
      .then(users => {
        return {
          users
        }
      })
      .catch(err => {
        error(err)
      })
  }

  В asyncData не имеет доступа к this-
  только работаем с контекстом.
  Полученный объект users трансформируем в users,
  который будем использовать внутри компонента
  
  Применение axios возвращает promise. 
  При ошибке- вызываем error, получаемый из контекста.

  Используем полученные с сервера данные:
   <ul>
  <li v-for="user of users" :key="user.id">
    <a href="#" @click.prevent="goTo(user)">{{user.name}} ({{user.email}})</a>
  </li>

  В методах переходим по id пользователя: 

  methods: {
    goTo(user) {
      this.$router.push('/users/' + user.id)
    }
  }


Модифицируем шаблон для захода на страницу в конкретном меню:

<template>
  <div>
    <h1>{{user.name}}</h1>
    <hr />
    <b>{{user.email}}</b>
  </div>
</template>

<script>
export default {
  validate({params}) {
    return /^\d+$/.test(params.id)
  },
  async asyncData({params, error, $axios}) {
    try {
      const user = await $axios.$get(`https://jsonplaceholder.typicode.com/users/${params.id}`)
      return {user}
    } catch (e) {
      error(e)
    }
  }
}
</script>

Получаем определенного user по его id. 



-->